/* variable */
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
}
header .container {
  width: 100%;
  padding: 30px 40px;
  align-items: center;
  justify-content: space-between;
}
header .container .logo-box {
  width: 200px;
  min-width: 200px;
  display: flex;
}
header .container .logo-box a {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .container .logo-box a img {
  width: 100%;
}
header .container .login-info-box {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
header .container .login-info-box span.email {
  font-family: "Archivo", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #2a2a2a;
  margin-bottom: 6px;
}
header .container .login-info-box a.logout span {
  font-family: "SUIT Variable", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  letter-spacing: -0.25px;
  color: #aeaeae;
}