/* variable */
$color-01: #E60000;
$color-02: #B70002;
$color-03: #FFE401;
$color-04: #FF7F00;
$color-05: #FF3300;
$color-06: #FD8D4E;
$color-black: #2a2a2a;
$color-dark-gray: #aeaeae;
$color-light-gray: #ddd;
$font-kr: 'SUIT Variable', sans-serif;;
$font-en: "Archivo", sans-serif;

.tooltip:hover {
    .tooltip-box {
        translate: 0 0;
        opacity: 1;
        span {
            font-family: $font-kr;
            font-weight: 500;
            font-size: 14px;
            line-height: 1;
            letter-spacing: -.25px;
            color: #fff;
        }
    }
}

.tooltip {
    .tooltip-box {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: max-content;
        padding: 14px 24px;
        // border: 1px solid red;
        border-radius: 4px;
        top: calc(100% + 8px);
        background: rgba(42, 42, 42, .8);
        opacity: 0;
        translate: 0 -4px;
        transition: all .4s ease;
        span {
            font-family: $font-kr;
            font-weight: 500;
            font-size: 14px;
            line-height: 1;
            letter-spacing: -.25px;
            color: #fff;
        }
    }
}





#wrap {
    position: relative;
    min-height: 100vh;
    padding-top: 180px;
    padding-bottom: 100px;

    /* .bg-area */
    .bg-area {
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        overflow: hidden;
        pointer-events: none;
        .ob-box {
            position: absolute;
            svg {
                path {

                }
            }
        }
        .ob-box.left {
            right: 8%;
            svg {
                path {
                    fill: #DC6468;
                }
            }
        }
        .ob-box.right {
            left: 62%;
            top: -20px;
            svg {
                path {
                    fill: #FDD458;
                }
            }
        }
    }
    
    section.talk-03-content-wrap {
        /* .container */
        .container {
            flex-wrap: wrap;

            /* message-content-box */
            .message-content-box {
                background: #fff;
                width: calc(100% / 2 - 24px);
                height: auto;
                margin: 20px 12px;
                padding: 40px 14px 40px 40px;
                border: 1px solid $color-light-gray;
                border-radius: 12px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                position: relative;

                /* profile-img-box */
                .profile-img-box {
                    background: #fff;
                    padding: 0 20px;
                    position: absolute;
                    top: 0%;
                    translate: 0 -50%;
                    .border {
                        width: 80px;
                        height: 80px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 13px;
                        border: 1px solid $color-light-gray;
                        border-radius: 300px;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                }

                /* message-kind-box */
                .message-kind-box {
                    position: absolute;
                    left: 30px;
                    top: 0;
                    translate: 0 -50%;
                    background: #fff;
                    padding: 0 10px;
                    span {
                        font-family: $font-kr;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 1;
                        letter-spacing: -.25px;
                        color: $color-dark-gray;
                    }
                }

                .message-text-box {
                    width: 100%;
                    height: 300px;
                    overflow: scroll;
                    display: flex;
                    flex-direction: column;
                    // justify-content: flex-end;
                    padding-right: 20px;
                    p.text-box {
                        span.message {
                            display: flex;
                            font-size: 28px;
                            line-height: 1.5;
                            color: $color-dark-gray;
                            word-break: keep-all;
                        }
                        span.message.kr {
                            font-family: $font-kr;
                            font-weight: 500;
                            letter-spacing: -.25px;
                        }
                        span.message.en {
                            font-family: $font-en;
                            font-weight: 400;
                            letter-spacing: 0px;
                        }
                    }
                    p.text-box:not(:last-child) {
                        margin-bottom: 24px;
                    }
                    p.text-box.trans {
                        background: #f8f8f8;
                        border-radius: 12px;
                        padding: 20px 20px;
                    }
                    p.text-box.current {
                        span.message {
                            color: $color-black;
                        }
                    }
                }
            }

            /* 의사 메세지 박스 */
            .message-content-box.docter {
                padding-top: 60px;
            }

            /* 환자 메세지 박스 */
            .message-content-box.patient {
                padding-top: 60px;
            }

            /* 통역 메세지 박스 */
            .message-content-box.trans {
                border: 1px solid $color-01;
                z-index: 11;
                .message-kind-box {
                    span.kind {
                        color: $color-01;
                    }
                }
                .message-text-box {
                    height: 260px;
                    margin-bottom: 60px;
                    p.text-box {
                        span.message {
                        }
                        span.message.kr {
                        }
                        span.message.en {
                        }
                    }
                    p.text-box:not(:last-child) {
                    }
                    p.text-box.trans {
                    }
                    p.text-box.current {
                        span.message {
                        }
                    }
                }

                .speak-text-box {
                    display: flex;
                    width: 100%;
                    padding-right: 20px;
                    .border {
                        display: flex;
                        align-items: flex-end;
                        justify-content: center;
                        width: 100%;
                        padding: 20px 20px;
                        border: 1px solid $color-light-gray;
                        border-radius: 300px;
                        .button-box {
                            width: 36px;
                            height: 36px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background: $color-dark-gray;
                            border-radius: 300px;
                            cursor: pointer;
                            transition: background .4s ease;
                            position: relative;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                            }
                        }
                        .button-box:hover {
                            background: rgba(42, 42, 42, .8);
                        }
                        .button-box.sst {
                            img {
    
                            }
                        }
                        .button-box.send {
                            img {
    
                            }
                        }
    
                        p.text-box {
                            flex: 2;
                            margin: 0 20px;
                            span.message {
                                font-size: 24px;
                                line-height: 1.5;
                                color: $color-black;
                                text-align: left;
                                // word-break: keep-all;
                            }
                            span.message.kr {
                                font-family: $font-kr;
                                font-weight: 500;
                                letter-spacing: -.8px;
                            }
                            span.message.en {
                                font-family: $font-en;
                                font-weight: 400;
                                letter-spacing: 0px;
                            }
                        }
                    }
                }
            }

            /* AI에게 질문하기 */
            .message-content-box.ai-question {
                transition: border .4s ease;
                .message-kind-box {
                    span.kind {
                        transition: color .4s ease;
                    }
                }
                .message-text-box {
                    height: 260px;
                    margin-bottom: 60px;
                    p.text-box {
                        span.message {
                        }
                        span.message.kr {
                        }
                        span.message.en {
                        }
                    }
                    p.text-box:not(:last-child) {
                    }
                    p.text-box.trans {
                    }
                    p.text-box.current {
                        span.message {
                        }
                    }
                }

                .question-box {
                    width: 100%;
                    display: flex;
                    padding-right: 20px;
                    .border {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        padding: 20px 20px;
                        // border: 1px solid $color-light-gray;
                        border-radius: 300px;
                        .input-box {
                            flex: 2;
                            margin-right: 30px;
                            // border: 1px solid red;
                            input {
                                outline: none;
                                border: none;
                                display: flex;
                                width: 100%;
                                font-family: $font-kr;
                                font-weight: 500;
                                font-size: 24px;
                                line-height: 1.5;
                                letter-spacing: -.25px;
                                color: $color-black;
                            }
                            input::placeholder {
                                font-family: $font-kr;
                                font-weight: 500;
                                font-size: 24px;
                                line-height: 1.5;
                                letter-spacing: -.8px;
                                color: $color-light-gray;
                            }
                        }
    
                        .button-box {
                            width: 36px;
                            height: 36px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background: $color-dark-gray;
                            border-radius: 300px;
                            cursor: pointer;
                            transition: background .4s ease;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                            }
                        }
                        .button-box:hover {
                            background: rgba(42, 42, 42, .8);
                        }
                    }
                }
            }
            .message-content-box.ai-question:hover {
                border: 1px solid $color-black;
                .message-kind-box {
                    span.kind {
                        color: $color-black;
                    }
                }
            }

            /* AI 해설 */
            .message-content-box.ai-script {
                width: 100%;
                .message-kind-box {
                    span.kind {
                        transition: color .4s ease;
                    }
                }
                .message-text-box {
                    height: auto;
                    p.text-box {
                        span.message {
                            font-size: 24px;
                        }
                        span.message.kr {
                        }
                        span.message.en {
                        }
                    }
                    p.text-box:not(:last-child) {
                    }
                    p.text-box.trans {
                    }
                    p.text-box.current {
                        span.message {
                        }
                    }
                }
            }
        }
    }

    section.paging-button-content-wrap {
        padding-top: 60px;
        .container {
            .paging-button-box {
                // border: 1px solid red;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .button-area {
                    width: 220px;
                    display: flex;
                    a {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 30px 0;
                        border: 1px solid $color-light-gray;
                        border-radius: 12px;
                        transition: border .4s ease;
                        span {
                            font-family: $font-kr;
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 1;
                            letter-spacing: -.25px;
                            color: $color-dark-gray;
                            transition: color .4s ease;
                        }
                    }

                    a:hover {
                        border: 1px solid $color-black;
                        span {
                            color: $color-black;
                        }
                    }
                }
            }
        }
    }
}