/* variable */
#wrap {
  /* section.login-content-section */
}
#wrap section.qa-content-wrap {
  position: relative;
  padding-top: 180px;
  padding-bottom: 180px;
}
#wrap section.qa-content-wrap .bg-area {
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  overflow: hidden;
  pointer-events: none;
}
#wrap section.qa-content-wrap .bg-area .ob-box {
  position: absolute;
}
#wrap section.qa-content-wrap .bg-area .ob-box.left {
  right: 8%;
}
#wrap section.qa-content-wrap .bg-area .ob-box.left svg path {
  fill: #DC6468;
}
#wrap section.qa-content-wrap .bg-area .ob-box.right {
  left: 62%;
  top: -20px;
}
#wrap section.qa-content-wrap .bg-area .ob-box.right svg path {
  fill: #FDD458;
}
#wrap section.qa-content-wrap .container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#wrap section.qa-content-wrap .container .character-img-box {
  width: 260px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 42px;
}
#wrap section.qa-content-wrap .container .character-img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#wrap section.qa-content-wrap .container .section-title-box {
  margin-bottom: 60px;
}
#wrap section.qa-content-wrap .container .section-title-box h2.title {
  font-family: "SUIT Variable", sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -1.2px;
  color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrap section.qa-content-wrap .container .section-title-box h2.title::before {
  content: "";
  display: block;
  width: 3px;
  height: 100%;
  background: #FF7F00;
  position: absolute;
  left: -15px;
}
#wrap section.qa-content-wrap .container .section-title-box.language {
  display: none;
}
#wrap section.qa-content-wrap .container .question-list-area.moment {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}
#wrap section.qa-content-wrap .container .question-list-area.moment .list-box {
  width: calc(33.3333333333% - 24px);
  margin: 0 12px;
}
#wrap section.qa-content-wrap .container .question-list-area.moment .list-box a.button-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  padding: 30px 0;
  background: #fff;
  margin-bottom: 24px;
  transition: all 0.4s ease;
}
#wrap section.qa-content-wrap .container .question-list-area.moment .list-box a.button-box .list-title span {
  font-family: "SUIT Variable", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.8px;
  color: #2a2a2a;
}
#wrap section.qa-content-wrap .container .question-list-area.moment .list-box a.button-box .list-icon-box {
  margin: 32px 0 32px;
  width: 100px;
  height: 100px;
  border-radius: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eee;
}
#wrap section.qa-content-wrap .container .question-list-area.moment .list-box a.button-box .list-icon-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#wrap section.qa-content-wrap .container .question-list-area.moment .list-box a.button-box .list-sub-title span {
  font-family: "SUIT Variable", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.8px;
}
#wrap section.qa-content-wrap .container .question-list-area.moment .list-box a.button-box:hover {
  background: #FD8D4E;
  box-shadow: 0px 8px 16px rgba(73, 26, 0, 0.4);
  translate: 0px -10px;
}
#wrap section.qa-content-wrap .container .question-list-area.moment .list-box .desc-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrap section.qa-content-wrap .container .question-list-area.moment .list-box .desc-box p {
  text-align: center;
  font-family: "SUIT Variable", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.25px;
  color: #fff;
}
#wrap section.qa-content-wrap .container .question-list-area.language {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 80px;
  display: none;
}
#wrap section.qa-content-wrap .container .question-list-area.language .list-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(25% - 24px);
  margin: 12px 12px;
}
#wrap section.qa-content-wrap .container .question-list-area.language .list-box a.button-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 38px 0;
  border-radius: 12px;
  background: #fff;
  transition: all 0.4s ease;
  box-shadow: 0 0 0 0px rgba(255, 255, 255, 0) inset;
}
#wrap section.qa-content-wrap .container .question-list-area.language .list-box a.button-box span {
  font-family: "SUIT Variable", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1;
  letter-spacing: -0.8px;
  color: #2a2a2a;
}
#wrap section.qa-content-wrap .container .question-list-area.language .list-box a.button-box:hover {
  background: #FD8D4E;
  box-shadow: 0px 8px 16px rgba(73, 26, 0, 0.4);
  translate: 0px -10px;
}
#wrap section.qa-content-wrap .container .page-movement-button-area {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#wrap section.qa-content-wrap .container .page-movement-button-area .button-box {
  display: flex;
}
#wrap section.qa-content-wrap .container .page-movement-button-area .button-box a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 43px;
  border-radius: 300px;
  background: #B70002;
}
#wrap section.qa-content-wrap .container .page-movement-button-area .button-box a .icon-box {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}
#wrap section.qa-content-wrap .container .page-movement-button-area .button-box a .icon-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#wrap section.qa-content-wrap .container .page-movement-button-area .button-box a span {
  font-family: "SUIT Variable", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.8px;
  color: #fff;
}
#wrap section.qa-content-wrap .container .page-movement-button-area .button-box.prev a .icon-box {
  margin-right: 8px;
}
#wrap section.qa-content-wrap .container .page-movement-button-area .button-box.prev a:hover .icon-box {
  translate: -10px 0;
  opacity: 0;
}
#wrap section.qa-content-wrap .container .page-movement-button-area .button-box.next a .icon-box {
  margin-left: 8px;
  rotate: 180deg;
}
#wrap section.qa-content-wrap .container .page-movement-button-area .button-box.next a:hover .icon-box {
  translate: 10px 0;
  opacity: 0;
}