/* variable */
$color-01: #E60000;
$color-02: #B70002;
$color-03: #FFE401;
$color-04: #FF7F00;
$color-05: #FF3300;
$color-06: #FD8D4E;
$color-black: #2a2a2a;
$color-dark-gray: #aeaeae;
$color-light-gray: #ddd;
$font-kr: 'SUIT Variable', sans-serif;;
$font-en: "Archivo", sans-serif;

#wrap {
    /* 공통 스타일 파일에 통합 됨. */
}