/* variable */
$color-01: #E60000;
$color-02: #B70002;
$color-03: #FFE401;
$color-04: #FF7F00;
$color-05: #FF3300;
$color-06: #FD8D4E;
$color-black: #2a2a2a;
$color-dark-gray: #aeaeae;
$color-light-gray: #ddd;
$font-kr: 'SUIT Variable', sans-serif;;
$font-en: "Archivo", sans-serif;

.tooltip:hover {
    .tooltip-box {
        translate: 0 0;
        opacity: 1;
        span {
            font-family: $font-kr;
            font-weight: 500;
            font-size: 14px;
            line-height: 1;
            letter-spacing: -.25px;
            color: #fff;
        }
    }
}

.tooltip {
    .tooltip-box {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: max-content;
        padding: 14px 24px;
        // border: 1px solid red;
        border-radius: 4px;
        top: calc(100% + 8px);
        background: rgba(42, 42, 42, .8);
        opacity: 0;
        translate: 0 -4px;
        transition: all .4s ease;
        span {
            font-family: $font-kr;
            font-weight: 500;
            font-size: 14px;
            line-height: 1;
            letter-spacing: -.25px;
            color: #fff;
        }
    }
}

.desc-tooltip {
    position: relative;
    z-index: 2;
    .tooltip-box {
        position: absolute;
        // border: 1px solid red;
        top: 10px;
        right: 10px;
        .icon-box {
            width: 28px;
            height: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: .4;
            transition: opacity .4s ease;
            svg {
                width: 100%;
                height: 100%;
                display: flex;
                background: $color-dark-gray;
                border-radius: 300px;
                path {

                }
            }
        }

        .desc-box {
            width: 614px;
            height: auto;
            padding: 24px 24px;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            background: $color-dark-gray;
            position: absolute;
            top: calc(100% + 20px);
            right: calc(0% - 20px);
            translate: 0px -10px;
            opacity: 0;
            transition: all .4s ease;
            pointer-events: none;
            span.title {
                font-family: $font-kr;
                font-weight: 500;
                font-size: 18px;
                line-height: 1.5;
                letter-spacing: -.25px;
                color: #fff;
                display: flex;
                margin-bottom: 14px;
            }
            p {
                white-space: pre-line;
                word-break: keep-all;
                font-family: $font-kr;
                font-weight: 500;
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: -.25px;
                color: #eee;
                span.light {
                    font-weight: 300;
                }
            }
            p.notice {
                color: $color-03;
            }
            p:not(:last-child) {
                margin-bottom: 14px;
            }
        }
        .desc-box::before {
            content: '';
            display: flex;
            width: 20px;
            height: 20px;
            border-radius: 3px;
            background: $color-dark-gray;
            // border: 1px solid red;
            position: absolute;
            top: -6px;
            right: 24px;
            rotate: 45deg;
        }
    }
    .tooltip-box:hover {
        .icon-box {
            opacity: 1;
        }
        .desc-box {
            opacity: 1;
            translate: 0px 0px;
        }
    }
}



#wrap {
    position: relative;
    section.result-content-wrap {
        /* .container */
        .container {
            // border: 1px solid red;
            flex-wrap: wrap;
            .result-content-box {
                // border: 1px solid red;
                width: calc(100% / 2 - 24px);
                margin: 12px 12px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 40px 40px;
                background: #fff;
                border: 1px solid #9a9a9a;
                border-radius: 12px;
                position: relative;
                > .kind-box {
                    position: absolute;
                    left: 30px;
                    top: 0;
                    translate: 0 -50%;
                    background: #fff;
                    padding: 0 10px;
                    span {
                        font-family: $font-kr;
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 1;
                        letter-spacing: -.25px;
                        color: #9a9a9a;
                    }
                }
            }

            /* 전체 정답률 */
            .result-content-box.value {
                padding: 0;
                border: none;
                .list-box {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 40px 40px;
                    background: #fff;
                    border: 1px solid #9a9a9a;
                    border-radius: 12px;
                    position: relative;
                }
                .list-box.progress {
                    .kind-box {
                        position: absolute;
                        left: 30px;
                        top: 0;
                        translate: 0 -50%;
                        background: #fff;
                        padding: 0 10px;
                        span {
                            font-family: $font-kr;
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 1;
                            letter-spacing: -.25px;
                            color: #9a9a9a;
                        }
                    }
                    .numb-box {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 14px;
                        span {
                            font-family: $font-en;
                            font-weight: 500;
                            font-size: 42px;
                            line-height: 1;
                        }
                        span.good {
                            color: $color-dark-gray;
                        }
                        span.bad {
                            color: #eee;
                        }
                    }

                    .progress-box {
                        width: 100%;
                        height: 32px;
                        background: #eee;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        border-radius: 300px;
                        overflow: hidden;
                        .bar {
                            width: 0%;
                            height: 100%;
                            background: $color-dark-gray;
                            border-radius: 300px;
                        }
                    }
                }
                .list-box.progress:not(:last-child) {
                    margin-bottom: 14px;
                }

                /* 자세한 통계 */
                .list-box.detail {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    .detail-box {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;;
                        .detail-data-box {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding: 20px 20px;
                            border-radius: 12px;
                            transition: background .4s ease;
                            .name {
                                // min-width: 125px;
                                display: flex;
                                justify-content: flex-start;
                                flex: 1;
                                span {
                                    font-family: $font-kr;
                                    font-weight: 500;
                                    font-size: 26px;
                                    line-height: 1;
                                    letter-spacing: -.8px;
                                    color: #999;
                                }
                            }
                            .percent {
                                display: flex;
                                flex: 1;
                                justify-content: center;
                                span {
                                    font-family: $font-en;
                                    font-weight: 500;
                                    font-size: 28px;
                                    line-height: 1;
                                    color: $color-black;
                                }
                            }
                            .detail-btn-box {
                                // min-width: 125px;
                                display: flex;
                                justify-content: flex-end;
                                flex: 1;
                                .tooltip-box {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    position: relative;
                                    cursor: pointer;
                                    .icon-box {
                                        width: 26px;
                                        height: 26px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        opacity: .4;
                                        transition: opacity .4s ease;
                                        svg {
                                            width: 100%;
                                            height: 100%;
                                            display: flex;
                                            background: $color-dark-gray;
                                            border-radius: 300px;
                                            path {
    
                                            }
                                        }
                                    }
                                    .desc-box {
                                        width: 614px;
                                        height: auto;
                                        padding: 24px 24px;
                                        border-radius: 8px;
                                        display: flex;
                                        flex-direction: column;
                                        align-items: flex-start;
                                        background: $color-dark-gray;
                                        position: absolute;
                                        top: calc(100% + 20px);
                                        right: calc(0% - 20px);
                                        translate: 0px -10px;
                                        opacity: 0;
                                        transition: all .4s ease;
                                        pointer-events: none;
                                        span.title {
                                            font-family: $font-kr;
                                            font-weight: 500;
                                            font-size: 18px;
                                            line-height: 1.5;
                                            letter-spacing: -.25px;
                                            color: #fff;
                                            display: flex;
                                            margin-bottom: 14px;
                                        }
                                        p {
                                            white-space: pre-line;
                                            word-break: keep-all;
                                            font-family: $font-kr;
                                            font-weight: 500;
                                            font-size: 16px;
                                            line-height: 1.5;
                                            letter-spacing: -.25px;
                                            color: #eee;
                                            span.light {
                                                font-weight: 300;
                                            }
                                        }
                                        p.notice {
                                            color: $color-03;
                                        }
                                        p:not(:last-child) {
                                            margin-bottom: 14px;
                                        }
                                    }
                                    .desc-box::before {
                                        content: '';
                                        display: flex;
                                        width: 20px;
                                        height: 20px;
                                        border-radius: 3px;
                                        background: $color-dark-gray;
                                        // border: 1px solid red;
                                        position: absolute;
                                        top: -6px;
                                        right: 24px;
                                        rotate: 45deg;
                                    }
                                }
                                .tooltip-box:hover {
                                    z-index: 4;
                                    .icon-box {
                                        opacity: 1;
                                    }
                                    .desc-box {
                                        opacity: 1;
                                        translate: 0px 0px;
                                    }
                                }
                            }
                        }
                        .detail-data-box:hover {
                            background: #f8f8f8;
                        }
                    }
                    .detail-box:not(:last-child) {
                        margin-bottom: 4px;
                    }
                }
            }

            /* 문제별 유사도 */
            .result-content-box.chart {

            }

            /* AI 종합 평가 */
            .result-content-box.ai {
                padding-right: 20px;
                .ai-text-box {
                    width: 100%;
                    height: 82px;
                    overflow-y: scroll;
                    padding-right: 20px;
                    p {
                        width: 100%;
                        span {
                            display: flex;
                            font-family: $font-kr;
                            font-weight: 500;
                            font-size: 24px;
                            line-height: 1.5;
                            letter-spacing: -.25px;
                            color: $color-dark-gray;
                            word-break: keep-all;
                            white-space: pre-line;
                        }
                    }
                }
            }

            .result-content-box.button-content-box {
                flex-direction: row;
                padding: 0;
                border: none;
                .button-box {
                    height: 100%;
                    display: flex;
                    flex: 1;
                    border: 1px solid $color-light-gray;
                    border-radius: 12px;
                    transition: border-color .4s ease;
                    a {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        span {
                            font-family: $font-kr;
                            font-size: 20px;
                            line-height: 1;
                            letter-spacing: 0px;
                            color: $color-dark-gray;
                            transition: color .4s ease;
                        }
                    }
                }
                .button-box:not(:last-child) {
                    margin-right: 24px;
                }
                .button-box:hover {
                    border-color: $color-black;
                    a {
                        span {
                            color: $color-black;
                        }
                    }
                }
            }
        }
    }

    /*
        section.paging-button-content-wrap
        common.scss에 통합됨.
    */
}