/* variable */
$color-01: #E60000;
$color-02: #B70002;
$color-03: #FFE401;
$color-04: #FF7F00;
$color-05: #FF3300;
$color-06: #FD8D4E;
$color-black: #2a2a2a;
$color-dark-gray: #aeaeae;
$color-light-gray: #ddd;
$font-kr: 'SUIT Variable', sans-serif;;
$font-en: "Archivo", sans-serif;

/* 전체 스크롤바 스타일 */
::-webkit-scrollbar {
    width: 6px; /* 스크롤바의 너비 */
    // display: none;
}

/* 스크롤바의 트랙(배경) */
::-webkit-scrollbar-track {
    background: transparent; 
    border-radius: 10px; /* 모서리 둥글게 */
}

/* 스크롤바의 핸들(움직이는 부분) */
::-webkit-scrollbar-thumb {
    background: $color-light-gray;
    border-radius: 300px; /* 모서리 둥글게 */
}

/* 스크롤바의 핸들(hover 상태) */
::-webkit-scrollbar-thumb:hover {
    background: $color-dark-gray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
li,ol,ul {
    list-style: none;
}
button {
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: inherit;
    font-weight: inherit;
}
section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    width: 1440px;
    height: 100%;
    display: flex;
    position: relative;
}
#wrap {
    width: 100%;
    position: relative;

    /* .bg-area */
    .bg-area {
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        overflow: hidden;
        pointer-events: none;
        .ob-box {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                width: 100%;
                height: 100%;
                object-fit: contain;
                path {

                }
            }
        }
        .ob-box.left {
            right: 8%;
            width: 150%;
            svg {
                path {
                    fill: #DC6468;
                }
            }
        }
        .ob-box.right {
            left: 62%;
            top: -20px;
            width: 90%;
            svg {
                path {
                    fill: #FDD458;
                }
            }
        }
    }
}

.hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.visible {
    visibility: visible;
    opacity: 1;
    pointer-events: inherit;
}
.disabled {
    pointer-events: none;
}


section.paging-button-content-wrap.qna {
    .container {
        .paging-button-box {
            width: 100%;
            display: flex;
            justify-content: space-between;
            /* 기본 */
            .button-area {
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 32px 43px;
                    border-radius: 300px;
                    background: $color-02;
                    span {
                        font-family: $font-kr;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 1;
                        letter-spacing: -.8px;
                        color: #fff;
                    }
                    .icon-box {
                        width: 24px;
                        height: 24px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: all .4s ease;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                }
                a:hover {
                    span {
                    }
                    .icon-box {
                        img {

                        }
                    }
                }
            }

            /* 이전 버튼 */
            .button-area.prev {
                a {
                    span {
                    }
                    .icon-box {
                        margin-right: 8px;
                        img {

                        }
                    }
                }
                a:hover {
                    span {
                    }
                    .icon-box {
                        translate: -10px 0;
                        opacity: 0;
                        img {

                        }
                    }
                }
            }

            /* 다음 버튼 */
            .button-area.next {
                a {
                    span {
                    }
                    .icon-box {
                        margin-left: 8px;
                        rotate: 180deg;
                        img {

                        }
                    }
                }
                a:hover {
                    span {
                    }
                    .icon-box {
                        translate: 10px 0;
                        opacity: 0;
                        img {

                        }
                    }
                }
            }

            /* 학습시작 버튼 */
            .button-area.next.start {
                a {
                    span {
                    }
                    .icon-box {
                        img {
                        }
                    }
                }
                a:hover {
                    span {
                    }
                    .icon-box {
                        rotate: 135deg;
                        translate: unset;
                        opacity: unset;
                        img {
                        }
                    }
                }
            }

            /* 버튼 숨기기 클래스 */
            .button-area.hidden {
                visibility: hidden;
                opacity: 0;
                pointer-events: none;
            }
        }
    }
}

section.paging-button-content-wrap.learning {
    padding-top: 60px;
    .container {
        .paging-button-box {
            // border: 1px solid red;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .button-area {
                display: flex;
                a {
                    width: 220px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 30px 0;
                    border: 1px solid $color-light-gray;
                    border-radius: 12px;
                    transition: border .4s ease;
                    position: relative;
                    z-index: 2;
                    span {
                        font-family: $font-kr;
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 1;
                        letter-spacing: -.25px;
                        color: $color-dark-gray;
                        transition: color .4s ease;
                    }
                }

                a:not(:last-child) {
                    margin-right: 24px;
                }

                a:hover {
                    border: 1px solid $color-black;
                    span {
                        color: $color-black;
                    }
                }
            }
        }
    }
}