/* variable */
$color-main: #CB3029;
$color-sub: #F18D2C;
$color-black: #2a2a2a;
$color-dark-gray: #aeaeae;
$color-light-gray: #ddd;
$font-kr: 'SUIT Variable', sans-serif;;
$font-en: "Archivo", sans-serif;

/* 전체 스크롤바 스타일 */
::-webkit-scrollbar {
    width: 8px; /* 스크롤바의 너비 */
}

/* 스크롤바의 트랙(배경) */
::-webkit-scrollbar-track {
    background: transparent; 
    border-radius: 10px; /* 모서리 둥글게 */
}

/* 스크롤바의 핸들(움직이는 부분) */
::-webkit-scrollbar-thumb {
    background: $color-light-gray;
    border-radius: 10px; /* 모서리 둥글게 */
}

/* 스크롤바의 핸들(hover 상태) */
::-webkit-scrollbar-thumb:hover {
    background: $color-dark-gray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
li,ol,ul {
    list-style: none;
}
button {
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: inherit;
    font-weight: inherit;
}
section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    width: 1440px;
    height: 100%;
    display: flex;
}
#wrap {
    width: 100%;
    position: relative;
}