/* variable */
$color-01: #E60000;
$color-02: #B70002;
$color-03: #FFE401;
$color-04: #FF7F00;
$color-05: #FF3300;
$color-06: #FD8D4E;
$color-black: #2a2a2a;
$color-dark-gray: #aeaeae;
$color-light-gray: #ddd;
$font-kr: 'SUIT Variable', sans-serif;;
$font-en: "Archivo", sans-serif;



header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    .container {
        width: 100%;
        padding: 30px 40px;
        // border: 1px solid red;
        align-items: center;
        justify-content: space-between;
        .logo-box {
            width: 200px;
            min-width: 200px;
            display: flex;
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 100%;
                }
            }
        }

        .location-box {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 24px 40px;
            border: 1px solid $color-light-gray;
            border-radius: 300px;
            pointer-events: none;
            span {
                font-family: $font-kr;
                font-weight: 500;
                font-size: 18px;
                line-height: 1.5;
                letter-spacing: -.25px;
                color: $color-dark-gray;
            }
        }

        .login-info-box {
            min-width: 200px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            span.email {
                font-family: $font-en;
                font-weight: 500;
                font-size: 16px;
                line-height: 1;
                color: $color-black;
                margin-bottom: 6px;
            }
            a.logout {
                span {
                    font-family: $font-kr;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 1;
                    letter-spacing: -.25px;
                    color: $color-black;
                }
            }
        }
    }
}