@charset "UTF-8";
/* variable */
.tooltip:hover .tooltip-box {
  translate: 0 0;
  opacity: 1;
}
.tooltip:hover .tooltip-box span {
  font-family: "SUIT Variable", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: -0.25px;
  color: #fff;
}

.tooltip .tooltip-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  padding: 14px 24px;
  border-radius: 4px;
  top: calc(100% + 8px);
  background: rgba(42, 42, 42, 0.8);
  opacity: 0;
  translate: 0 -4px;
  transition: all 0.4s ease;
}
.tooltip .tooltip-box span {
  font-family: "SUIT Variable", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: -0.25px;
  color: #fff;
}

#wrap {
  position: relative;
  min-height: 100vh;
  padding-top: 180px;
  padding-bottom: 100px;
  /* .bg-area */
}
#wrap .bg-area {
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  overflow: hidden;
  pointer-events: none;
}
#wrap .bg-area .ob-box {
  position: absolute;
}
#wrap .bg-area .ob-box.left {
  right: 8%;
}
#wrap .bg-area .ob-box.left svg path {
  fill: #DC6468;
}
#wrap .bg-area .ob-box.right {
  left: 62%;
  top: -20px;
}
#wrap .bg-area .ob-box.right svg path {
  fill: #FDD458;
}
#wrap section.talk-03-content-wrap {
  /* .container */
}
#wrap section.talk-03-content-wrap .container {
  flex-wrap: wrap;
  /* message-content-box */
  /* 의사 메세지 박스 */
  /* 환자 메세지 박스 */
  /* 통역 메세지 박스 */
  /* AI에게 질문하기 */
  /* AI 해설 */
}
#wrap section.talk-03-content-wrap .container .message-content-box {
  background: #fff;
  width: calc(50% - 24px);
  height: auto;
  margin: 20px 12px;
  padding: 40px 14px 40px 40px;
  border: 1px solid #ddd;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  /* profile-img-box */
  /* message-kind-box */
}
#wrap section.talk-03-content-wrap .container .message-content-box .profile-img-box {
  background: #fff;
  padding: 0 20px;
  position: absolute;
  top: 0%;
  translate: 0 -50%;
}
#wrap section.talk-03-content-wrap .container .message-content-box .profile-img-box .border {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px;
  border: 1px solid #ddd;
  border-radius: 300px;
}
#wrap section.talk-03-content-wrap .container .message-content-box .profile-img-box .border img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#wrap section.talk-03-content-wrap .container .message-content-box .message-kind-box {
  position: absolute;
  left: 30px;
  top: 0;
  translate: 0 -50%;
  background: #fff;
  padding: 0 10px;
}
#wrap section.talk-03-content-wrap .container .message-content-box .message-kind-box span {
  font-family: "SUIT Variable", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  letter-spacing: -0.25px;
  color: #aeaeae;
}
#wrap section.talk-03-content-wrap .container .message-content-box .message-text-box {
  width: 100%;
  height: 300px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}
#wrap section.talk-03-content-wrap .container .message-content-box .message-text-box p.text-box span.message {
  display: flex;
  font-size: 28px;
  line-height: 1.5;
  color: #aeaeae;
  word-break: keep-all;
}
#wrap section.talk-03-content-wrap .container .message-content-box .message-text-box p.text-box span.message.kr {
  font-family: "SUIT Variable", sans-serif;
  font-weight: 500;
  letter-spacing: -0.25px;
}
#wrap section.talk-03-content-wrap .container .message-content-box .message-text-box p.text-box span.message.en {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
}
#wrap section.talk-03-content-wrap .container .message-content-box .message-text-box p.text-box:not(:last-child) {
  margin-bottom: 24px;
}
#wrap section.talk-03-content-wrap .container .message-content-box .message-text-box p.text-box.trans {
  background: #f8f8f8;
  border-radius: 12px;
  padding: 20px 20px;
}
#wrap section.talk-03-content-wrap .container .message-content-box .message-text-box p.text-box.current span.message {
  color: #2a2a2a;
}
#wrap section.talk-03-content-wrap .container .message-content-box.docter {
  padding-top: 60px;
}
#wrap section.talk-03-content-wrap .container .message-content-box.patient {
  padding-top: 60px;
}
#wrap section.talk-03-content-wrap .container .message-content-box.trans {
  border: 1px solid #E60000;
}
#wrap section.talk-03-content-wrap .container .message-content-box.trans .message-kind-box span.kind {
  color: #E60000;
}
#wrap section.talk-03-content-wrap .container .message-content-box.trans .message-text-box {
  height: 260px;
  margin-bottom: 60px;
}
#wrap section.talk-03-content-wrap .container .message-content-box.trans .speak-text-box {
  display: flex;
  width: 100%;
  padding-right: 20px;
}
#wrap section.talk-03-content-wrap .container .message-content-box.trans .speak-text-box .border {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  padding: 20px 20px;
  border: 1px solid #ddd;
  border-radius: 300px;
}
#wrap section.talk-03-content-wrap .container .message-content-box.trans .speak-text-box .border .button-box {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #aeaeae;
  border-radius: 300px;
  cursor: pointer;
  transition: background 0.4s ease;
  position: relative;
}
#wrap section.talk-03-content-wrap .container .message-content-box.trans .speak-text-box .border .button-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#wrap section.talk-03-content-wrap .container .message-content-box.trans .speak-text-box .border .button-box:hover {
  background: rgba(42, 42, 42, 0.8);
}
#wrap section.talk-03-content-wrap .container .message-content-box.trans .speak-text-box .border p.text-box {
  flex: 2;
  margin: 0 20px;
}
#wrap section.talk-03-content-wrap .container .message-content-box.trans .speak-text-box .border p.text-box span.message {
  font-size: 24px;
  line-height: 1.5;
  color: #2a2a2a;
  text-align: left;
}
#wrap section.talk-03-content-wrap .container .message-content-box.trans .speak-text-box .border p.text-box span.message.kr {
  font-family: "SUIT Variable", sans-serif;
  font-weight: 500;
  letter-spacing: -0.8px;
}
#wrap section.talk-03-content-wrap .container .message-content-box.trans .speak-text-box .border p.text-box span.message.en {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
}
#wrap section.talk-03-content-wrap .container .message-content-box.ai-question {
  transition: border 0.4s ease;
}
#wrap section.talk-03-content-wrap .container .message-content-box.ai-question .message-kind-box span.kind {
  transition: color 0.4s ease;
}
#wrap section.talk-03-content-wrap .container .message-content-box.ai-question .message-text-box {
  height: 260px;
  margin-bottom: 60px;
}
#wrap section.talk-03-content-wrap .container .message-content-box.ai-question .question-box {
  width: 100%;
  display: flex;
  padding-right: 20px;
}
#wrap section.talk-03-content-wrap .container .message-content-box.ai-question .question-box .border {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px 20px;
  border-radius: 300px;
}
#wrap section.talk-03-content-wrap .container .message-content-box.ai-question .question-box .border .input-box {
  flex: 2;
  margin-right: 30px;
}
#wrap section.talk-03-content-wrap .container .message-content-box.ai-question .question-box .border .input-box input {
  outline: none;
  border: none;
  display: flex;
  width: 100%;
  font-family: "SUIT Variable", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: -0.8px;
  color: #2a2a2a;
}
#wrap section.talk-03-content-wrap .container .message-content-box.ai-question .question-box .border .input-box input::-moz-placeholder {
  font-family: "SUIT Variable", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: -0.8px;
  color: #ddd;
}
#wrap section.talk-03-content-wrap .container .message-content-box.ai-question .question-box .border .input-box input::placeholder {
  font-family: "SUIT Variable", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: -0.8px;
  color: #ddd;
}
#wrap section.talk-03-content-wrap .container .message-content-box.ai-question .question-box .border .button-box {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #aeaeae;
  border-radius: 300px;
  cursor: pointer;
  transition: background 0.4s ease;
}
#wrap section.talk-03-content-wrap .container .message-content-box.ai-question .question-box .border .button-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#wrap section.talk-03-content-wrap .container .message-content-box.ai-question .question-box .border .button-box:hover {
  background: rgba(42, 42, 42, 0.8);
}
#wrap section.talk-03-content-wrap .container .message-content-box.ai-question:hover {
  border: 1px solid #2a2a2a;
}
#wrap section.talk-03-content-wrap .container .message-content-box.ai-question:hover .message-kind-box span.kind {
  color: #2a2a2a;
}
#wrap section.talk-03-content-wrap .container .message-content-box.ai-script {
  width: 100%;
}
#wrap section.talk-03-content-wrap .container .message-content-box.ai-script .message-kind-box span.kind {
  transition: color 0.4s ease;
}
#wrap section.talk-03-content-wrap .container .message-content-box.ai-script .message-text-box {
  height: auto;
}
#wrap section.talk-03-content-wrap .container .message-content-box.ai-script .message-text-box p.text-box span.message {
  font-size: 24px;
}
#wrap section.paging-button-content-wrap {
  padding-top: 60px;
}
#wrap section.paging-button-content-wrap .container .paging-button-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#wrap section.paging-button-content-wrap .container .paging-button-box .button-area {
  width: 220px;
  display: flex;
}
#wrap section.paging-button-content-wrap .container .paging-button-box .button-area a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  border: 1px solid #ddd;
  border-radius: 12px;
  transition: border 0.4s ease;
}
#wrap section.paging-button-content-wrap .container .paging-button-box .button-area a span {
  font-family: "SUIT Variable", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.25px;
  color: #aeaeae;
  transition: color 0.4s ease;
}
#wrap section.paging-button-content-wrap .container .paging-button-box .button-area a:hover {
  border: 1px solid #2a2a2a;
}
#wrap section.paging-button-content-wrap .container .paging-button-box .button-area a:hover span {
  color: #2a2a2a;
}