/* variable */
$color-01: #E60000;
$color-02: #B70002;
$color-03: #FFE401;
$color-04: #FF7F00;
$color-05: #FF3300;
$color-06: #FD8D4E;
$color-black: #2a2a2a;
$color-dark-gray: #aeaeae;
$color-light-gray: #ddd;
$font-kr: 'SUIT Variable', sans-serif;;
$font-en: "Archivo", sans-serif;

#wrap {
    /* section.login-content-section */
    section.qa-content-wrap {
        position: relative;
        // height: 100vh;
        padding-top: 180px;
        padding-bottom: 180px;
        .bg-area {
            top: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            overflow: hidden;
            pointer-events: none;
            .ob-box {
                position: absolute;
                svg {
                    path {

                    }
                }
            }
            .ob-box.left {
                right: 8%;
                svg {
                    path {
                        fill: #DC6468;
                    }
                }
            }
            .ob-box.right {
                left: 62%;
                top: -20px;
                svg {
                    path {
                        fill: #FDD458;
                    }
                }
            }
        }

        .container {
            // border: 1px solid red;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .character-img-box {
                width: 260px;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 42px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .section-title-box {
                margin-bottom: 60px;
                h2.title {
                    font-family: $font-kr;
                    font-weight: 500;
                    font-size: 28px;
                    line-height: 1;
                    letter-spacing: -1.2px;
                    color: #fff;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                h2.title::before {
                    content: '';
                    display: block;
                    width: 3px;
                    height: 100%;
                    background: $color-04;
                    position: absolute;
                    left: - calc(3px + 12px);
                }
            }

            .section-title-box.moment {
                // display: none;
            }
            .section-title-box.language {
                display: none;
            }

            .question-list-area.moment {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 80px;
                // display: none;
                .list-box {
                    width: calc(100% / 3 - 24px);
                    margin: 0 12px;
                    a.button-box {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        border-radius: 12px;
                        padding: 30px 0;
                        background: #fff;
                        margin-bottom: 24px;
                        transition: all .4s ease;
                        .list-title {
                            span {
                                font-family: $font-kr;
                                font-weight: 600;
                                font-size: 18px;
                                line-height: 1;
                                letter-spacing: -.8px;
                                color: $color-black;
                            }
                        }

                        .list-icon-box {
                            margin: 32px 0 32px;
                            width: 100px;
                            height: 100px;
                            border-radius: 300px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background: #eee;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }

                        .list-sub-title {
                            span {
                                font-family: $font-kr;
                                font-weight: 400;
                                font-size: 18px;
                                line-height: 1;
                                letter-spacing: -.8px;
                            }
                        }
                    }
                    a.button-box:hover {
                        background: $color-06;
                        box-shadow: 0px 8px 16px rgba(73, 26, 0, .4);
                        translate: 0px -10px;
                    }

                    .desc-box {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        p {
                            text-align: center;
                            font-family: $font-kr;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 1.5;
                            letter-spacing: -.25px;
                            color: #fff;
                        }
                    }
                }
            }

            .question-list-area.language {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-wrap: wrap;
                margin-bottom: 80px;
                display: none;
                .list-box {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: calc(100% / 4 - 24px);
                    margin: 12px 12px;
                    a.button-box {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        padding: 38px 0;
                        border-radius: 12px;
                        background: #fff;
                        transition: all .4s ease;
                        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0) inset;
                        span {
                            font-family: $font-kr;
                            font-weight: 600;
                            font-size: 24px;
                            line-height: 1;
                            letter-spacing: -.8px;
                            color: $color-black;
                        }
                    }
                    a.button-box:hover {
                        background: $color-06;
                        box-shadow: 0px 8px 16px rgba(73, 26, 0, .4);
                        translate: 0px -10px;
                    }
                }
            }

            .page-movement-button-area {
                width: 100%;
                display: flex;
                justify-content: space-between;
                .button-box {
                    display: flex;
                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 32px 43px;
                        border-radius: 300px;
                        background: $color-02;
                        .icon-box {
                            width: 24px;
                            height: 24px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            transition: all .4s ease;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        span {
                            font-family: $font-kr;
                            font-weight: 600;
                            font-size: 18px;
                            line-height: 1;
                            letter-spacing: -.8px;
                            color: #fff;
                        }
                    }
                }
                .button-box.prev {
                    a {
                        .icon-box {
                            margin-right: 8px;
                            img {
    
                            }
                        }
                        span {
    
                        }
                    }
                    a:hover {
                        .icon-box {
                            translate: -10px 0;
                            opacity: 0;
                        }
                    }
                }
                .button-box.next {
                    a {
                        .icon-box {
                            margin-left: 8px;
                            rotate: 180deg;
                            img {
    
                            }
                        }
                        span {
    
                        }
                    }
                    a:hover {
                        .icon-box {
                            translate: 10px 0;
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }
}