@charset "UTF-8";
/* variable */
.desc-tooltip {
  position: relative;
}
.desc-tooltip .tooltip-box {
  position: absolute;
  top: 10px;
  right: 10px;
}
.desc-tooltip .tooltip-box .icon-box {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.4;
  transition: opacity 0.4s ease;
}
.desc-tooltip .tooltip-box .icon-box svg {
  width: 100%;
  height: 100%;
  display: flex;
  background: #b25927;
  border-radius: 300px;
}
.desc-tooltip .tooltip-box .desc-box {
  width: 400px;
  height: auto;
  padding: 24px 24px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #b25927;
  position: absolute;
  top: calc(100% + 20px);
  right: calc(0% - 20px);
  translate: 0px -10px;
  opacity: 0;
  transition: all 0.4s ease;
  pointer-events: none;
}
.desc-tooltip .tooltip-box .desc-box span.title {
  font-family: "SUIT Variable", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: -0.25px;
  color: #fff;
  display: flex;
  margin-bottom: 14px;
}
.desc-tooltip .tooltip-box .desc-box p {
  white-space: pre-line;
  word-break: keep-all;
  font-family: "SUIT Variable", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.25px;
  color: #eee;
}
.desc-tooltip .tooltip-box .desc-box p span.light {
  font-weight: 300;
}
.desc-tooltip .tooltip-box .desc-box p.notice {
  color: #FFE401;
}
.desc-tooltip .tooltip-box .desc-box p:not(:last-child) {
  margin-bottom: 14px;
}
.desc-tooltip .tooltip-box .desc-box::before {
  content: "";
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background: #b25927;
  position: absolute;
  top: -6px;
  right: 24px;
  rotate: 45deg;
}
.desc-tooltip .tooltip-box:hover .icon-box {
  opacity: 1;
}
.desc-tooltip .tooltip-box:hover .desc-box {
  opacity: 1;
  translate: 0px 0px;
}

#wrap {
  /* bg-area */
}
#wrap .bg-area {
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  overflow: hidden;
  pointer-events: none;
}
#wrap .bg-area .ob-box {
  position: absolute;
}
#wrap .bg-area .ob-box.left {
  right: 8%;
}
#wrap .bg-area .ob-box.left svg path {
  fill: #DC6468;
}
#wrap .bg-area .ob-box.right {
  left: 62%;
  top: -20px;
}
#wrap .bg-area .ob-box.right svg path {
  fill: #FDD458;
}
#wrap section.qna-content-wrap {
  position: relative;
}
#wrap section.qna-content-wrap .container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* ============================
      공통 된 스타일
  ============================ */
  /* 네비게이션 캐릭터 묶음 */
  /* 섹션 타이틀 */
  /* ============================
      개별 스타일
  ============================ */
  /* 학습 상황 선택 */
  /* 학습 언어 선택 */
  /* 학습 방법 선택 */
  /* 시나리오 선택 */
}
#wrap section.qna-content-wrap .container .navigation-character-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 42px;
  /* 캐릭터 이미지 박스 */
  /* 네비게이션 아이콘 박스 */
  /* 이전 */
  /* 다음 */
  /* 활성화 스타일 */
}
#wrap section.qna-content-wrap .container .navigation-character-box .character-img-box {
  width: 260px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 60px;
}
#wrap section.qna-content-wrap .container .navigation-character-box .character-img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#wrap section.qna-content-wrap .container .navigation-character-box .navigation-icon-box {
  width: 60px;
  height: 60px;
  background: #B70002;
  border-radius: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  transition: opacity 0.4s ease;
  opacity: 0.2;
}
#wrap section.qna-content-wrap .container .navigation-character-box .navigation-icon-box svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#wrap section.qna-content-wrap .container .navigation-character-box .navigation-icon-box.active {
  cursor: pointer;
  opacity: 1;
}
#wrap section.qna-content-wrap .container .section-title-box {
  margin-bottom: 80px;
}
#wrap section.qna-content-wrap .container .section-title-box h2.title {
  font-family: "SUIT Variable", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.5;
  letter-spacing: -1.2px;
  color: #2a2a2a;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrap section.qna-content-wrap .container .section-title-box h2.title::before {
  content: "";
  display: block;
  width: 5px;
  height: 60%;
  background: #B70002;
  position: absolute;
  left: -21px;
}
#wrap section.qna-content-wrap .container .question-list-area.moment {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrap section.qna-content-wrap .container .question-list-area.moment .list-box {
  width: calc(33.3333333333% - 24px);
  margin: 0 12px;
}
#wrap section.qna-content-wrap .container .question-list-area.moment .list-box a.button-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  padding: 30px 0;
  background: #fff;
  transition: all 0.4s ease;
}
#wrap section.qna-content-wrap .container .question-list-area.moment .list-box a.button-box .list-title span {
  font-family: "SUIT Variable", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1;
  letter-spacing: -0.8px;
  color: #2a2a2a;
}
#wrap section.qna-content-wrap .container .question-list-area.moment .list-box a.button-box .list-icon-box {
  margin: 32px 0 32px;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrap section.qna-content-wrap .container .question-list-area.moment .list-box a.button-box .list-icon-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#wrap section.qna-content-wrap .container .question-list-area.moment .list-box a.button-box .list-sub-title span {
  font-family: "SUIT Variable", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.8px;
  color: #2a2a2a;
}
#wrap section.qna-content-wrap .container .question-list-area.moment .list-box a.button-box:hover {
  background: #FD8D4E;
  box-shadow: 0px 4px 8px rgba(39, 5, 6, 0.4);
  translate: 0px -10px;
}
#wrap section.qna-content-wrap .container .question-list-area.moment .list-box a.button-box.active {
  background: #FD8D4E;
  box-shadow: 0px 4px 8px rgba(39, 5, 6, 0.4);
  translate: 0px -10px;
}
#wrap section.qna-content-wrap .container .question-list-area.language {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
#wrap section.qna-content-wrap .container .question-list-area.language .list-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(25% - 24px);
  margin: 12px 12px;
  position: relative;
}
#wrap section.qna-content-wrap .container .question-list-area.language .list-box a.button-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 32px 0;
  border-radius: 12px;
  background: #fff;
  transition: all 0.4s ease;
}
#wrap section.qna-content-wrap .container .question-list-area.language .list-box a.button-box span {
  font-family: "SUIT Variable", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: -0.8px;
  color: #2a2a2a;
  white-space: pre-line;
  text-align: center;
}
#wrap section.qna-content-wrap .container .question-list-area.language .list-box a.button-box:hover {
  background: #FD8D4E;
  box-shadow: 0px 4px 8px rgba(39, 5, 6, 0.4);
  translate: 0px -10px;
}
#wrap section.qna-content-wrap .container .question-list-area.language .list-box a.button-box.active {
  background: #FD8D4E;
  box-shadow: 0px 4px 8px rgba(39, 5, 6, 0.4);
  translate: 0px -10px;
}
#wrap section.qna-content-wrap .container .question-list-area.mode {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrap section.qna-content-wrap .container .question-list-area.mode .list-box {
  width: calc(33.3333333333% - 24px);
  margin: 0 12px;
}
#wrap section.qna-content-wrap .container .question-list-area.mode .list-box a.button-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  padding: 30px 0;
  background: #fff;
  margin-bottom: 24px;
  transition: all 0.4s ease;
}
#wrap section.qna-content-wrap .container .question-list-area.mode .list-box a.button-box .list-title span {
  font-family: "SUIT Variable", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1;
  letter-spacing: -0.8px;
  color: #2a2a2a;
}
#wrap section.qna-content-wrap .container .question-list-area.mode .list-box a.button-box .list-icon-box {
  margin: 32px 0 32px;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrap section.qna-content-wrap .container .question-list-area.mode .list-box a.button-box .list-icon-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#wrap section.qna-content-wrap .container .question-list-area.mode .list-box a.button-box .list-sub-title span {
  font-family: "SUIT Variable", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.8px;
  color: #2a2a2a;
}
#wrap section.qna-content-wrap .container .question-list-area.mode .list-box a.button-box:hover {
  background: #FD8D4E;
  box-shadow: 0px 4px 8px rgba(39, 5, 6, 0.4);
  translate: 0px -10px;
}
#wrap section.qna-content-wrap .container .question-list-area.mode .list-box a.button-box.active {
  background: #FD8D4E;
  box-shadow: 0px 4px 8px rgba(39, 5, 6, 0.4);
  translate: 0px -10px;
}
#wrap section.qna-content-wrap .container .question-list-area.scenario {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
#wrap section.qna-content-wrap .container .question-list-area.scenario .list-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(25% - 24px);
  margin: 12px 12px;
}
#wrap section.qna-content-wrap .container .question-list-area.scenario .list-box a.button-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 32px 0;
  border-radius: 12px;
  background: #fff;
  transition: all 0.4s ease;
  box-shadow: 0 0 0 0px rgba(255, 255, 255, 0) inset;
}
#wrap section.qna-content-wrap .container .question-list-area.scenario .list-box a.button-box span {
  font-family: "SUIT Variable", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: -0.8px;
  color: #2a2a2a;
  white-space: pre-line;
  text-align: center;
}
#wrap section.qna-content-wrap .container .question-list-area.scenario .list-box a.button-box:hover {
  background: #FD8D4E;
  box-shadow: 0px 4px 8px rgba(39, 5, 6, 0.4);
  translate: 0px -10px;
}
#wrap section.qna-content-wrap .container .question-list-area.scenario .list-box a.button-box.active {
  background: #FD8D4E;
  box-shadow: 0px 4px 8px rgba(39, 5, 6, 0.4);
  translate: 0px -10px;
}