/* variable */
#wrap {
  padding-bottom: 80px;
  /* .bg-area */
  /* section.login-content-section */
}
#wrap .bg-area {
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  overflow: hidden;
  pointer-events: none;
}
#wrap .bg-area .ob-box {
  position: absolute;
}
#wrap .bg-area .ob-box.left {
  right: 8%;
}
#wrap .bg-area .ob-box.left svg path {
  fill: #DC6468;
}
#wrap .bg-area .ob-box.right {
  left: 62%;
  top: -20px;
}
#wrap .bg-area .ob-box.right svg path {
  fill: #FDD458;
}
#wrap section.qa-content-wrap {
  position: relative;
  padding-top: 180px;
  margin-bottom: 80px;
}
#wrap section.qa-content-wrap .container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#wrap section.qa-content-wrap .container .character-img-box {
  width: 260px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 42px;
}
#wrap section.qa-content-wrap .container .character-img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#wrap section.qa-content-wrap .container .section-title-box.scenario {
  margin-bottom: 80px;
}
#wrap section.qa-content-wrap .container .section-title-box.scenario h2.title {
  font-family: "SUIT Variable", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.5;
  letter-spacing: -1.2px;
  color: #2a2a2a;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrap section.qa-content-wrap .container .section-title-box.scenario h2.title::before {
  content: "";
  display: block;
  width: 6px;
  height: 76%;
  background: #B70002;
  position: absolute;
  left: -21px;
}
#wrap section.qa-content-wrap .container .question-list-area.scenario {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
#wrap section.qa-content-wrap .container .question-list-area.scenario .list-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(25% - 24px);
  margin: 12px 12px;
}
#wrap section.qa-content-wrap .container .question-list-area.scenario .list-box a.button-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 32px 0;
  border-radius: 12px;
  background: #fff;
  transition: all 0.4s ease;
  box-shadow: 0 0 0 0px rgba(255, 255, 255, 0) inset;
}
#wrap section.qa-content-wrap .container .question-list-area.scenario .list-box a.button-box span {
  font-family: "SUIT Variable", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: -0.8px;
  color: #2a2a2a;
  white-space: pre-line;
  text-align: center;
}
#wrap section.qa-content-wrap .container .question-list-area.scenario .list-box a.button-box:hover {
  background: #FD8D4E;
  box-shadow: 0px 4px 8px rgba(39, 5, 6, 0.4);
  translate: 0px -10px;
}
#wrap section.qa-content-wrap .container .question-list-area.scenario .list-box a.button-box.active {
  background: #FD8D4E;
  box-shadow: 0px 4px 8px rgba(39, 5, 6, 0.4);
  translate: 0px -10px;
}
#wrap section.paging-button-content-wrap .container .paging-button-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#wrap section.paging-button-content-wrap .container .paging-button-box .button-area a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 43px;
  border-radius: 300px;
  background: #B70002;
}
#wrap section.paging-button-content-wrap .container .paging-button-box .button-area a span {
  font-family: "SUIT Variable", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.8px;
  color: #fff;
}
#wrap section.paging-button-content-wrap .container .paging-button-box .button-area a .icon-box {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}
#wrap section.paging-button-content-wrap .container .paging-button-box .button-area a .icon-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#wrap section.paging-button-content-wrap .container .paging-button-box .button-area.prev a .icon-box {
  margin-right: 8px;
}
#wrap section.paging-button-content-wrap .container .paging-button-box .button-area.prev a:hover .icon-box {
  translate: -10px 0;
  opacity: 0;
}
#wrap section.paging-button-content-wrap .container .paging-button-box .button-area.next a .icon-box {
  margin-left: 8px;
  rotate: 180deg;
}
#wrap section.paging-button-content-wrap .container .paging-button-box .button-area.next a:hover .icon-box {
  rotate: 135deg;
}
#wrap section.paging-button-content-wrap .container .paging-button-box .button-area.hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}